.topo-vermelho {
  width: 100%;
  height: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0px;
}
.baixo-vermelho {
  width: 100%;
  height: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0; 
  left: 0;
  margin: 0;
  padding: 0px;
}
.baixo-vermelho h2 {
  font-size: 16px;      
  margin: 5px 0 0 0;    
  line-height: 1.2;     
}


h1 {
  margin: 0;
  padding: 0;
  color: #f0f0f0;
}

.dado1 {
  display: block;
  margin: 40px auto 20px auto; 
  height: 100px;
  width: auto;
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 20px auto; 
}

#resultado {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.icone-dado {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

#dupla {
  color: #f0f0f0;
  font-size: 20px;  
  margin: 5px 0 0 0;     
  line-height: 1.2;      

}
